
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');


:root {
    --back: #ddd;
    --form-back: #f0f0f080;
    --text: #222;
    --primary: #00df77;
    --primary-dark: #3e8d42;
}

html,body {
    margin: 0 0;
    color: var(--text);
    font-family: 'Roboto', 'Ubuntu Condensed', Arial, Helvetica, sans-serif;
}

html, .blur::before {
    background-color: var(--back);
    background: url("/static/resources/scotland_skye_fairy_glenn.png") 0 / cover fixed;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;

    display: block;
    width: 100%;
    padding: .5rem 1.2rem;
    background-color: var(--primary-dark);
    color: white;
}

header h1 {
    text-align: left;
    margin: 0;
    font-size: 1.5rem;
}

header .subtitle {
    opacity: 0.7;
    font-style: italic;
    font-family: 'Ubuntu Condensed', 'Roboto', Arial, Helvetica, sans-serif;
    font-size: .9rem;
}

h1 {
    text-align: center;
}

h1, label {
    font-family: 'Ubuntu Condensed', 'Roboto', Arial, Helvetica, sans-serif;
}

main {
    width: 40%;
    margin: 1em;
    padding: 2rem;
    
    /* backdrop-filter: blur(5px); */
    background-color: var(--form-back);
    color: var(--text);
    border-left: solid 6px var(--primary);
}

main *:first-child {
    margin-top: 0;
}

.info {
    font-size: 1rem;
    padding: .6em 1em;
    /* margin: .6em 2em; */
    color: white;
    border-left: solid 6px #26a2f5;
    border-radius: 3px;
    background: repeating-linear-gradient(-45deg, #289ae677 0px 5px, #238acf77 5px 10px);
}

.info :is(h1, h2, h3, h4, h5) {
    margin-top: 0;
    margin-bottom: .3em;
    font-size: 1.3em;
    font-weight: bolder;
}

.success {
    background: repeating-linear-gradient(-45deg, #51b45177 0px 5px, #479c4777 5px 10px);
    border-color: #52b852;
}

.error {
    background: repeating-linear-gradient(-45deg, #d6464677 0px 5px, #be373777 5px 10px);
    border-color: #e04a3c;
}

.blur {
    position: relative;
    overflow: hidden;
}

.blur::before {
    content: '';
    position: absolute;
    top: -15px;
    left: -15px;
    right: -15px;
    bottom: -15px;
    z-index: -1;

    filter: blur(15px);
}

.page-center {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.page {
    margin: 2rem auto;
    border: none;
}

.content {
    margin-top: 4rem;
}

.content.page-center {
    min-height: calc(100vh - 4rem);
}

.page:first-child {
    margin-top: 6rem;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    max-width: 400px;
}

form #btn-submit {
    display: block;
    margin: 1em 0.5em;
    padding: .7em 2em;
    font-size: 1rem;
    font-weight: bold;

    color: white;
    background: linear-gradient(to right, #a252e4, #3292ca 50%, #2ed180 100%);
    background-position: 100% center;
    background-size: 200%;

    border-radius: 5px;
    border: solid 1px var(--primary);
    box-shadow: 0 0 10px #2224;

    cursor: pointer;
    transition: all 300ms;
}

form #btn-submit:hover {
    box-shadow: 0 0 20px #2226;
    background-position: 0% center;
    border-color: #32b8ca;
}

form label {
    display: flex;
    flex-direction: row;
    justify-content: stretch;
    align-items: baseline;
    margin: .7em .3rem 0 .2rem;
    font-size: .9rem;
    font-weight: bold;
}

form input {
    padding: .5em .2em;
    background-color: #fff7;
    border: solid 1px grey;
    border-radius: 4px;
}

form .required {
    color: #e04a3c;
}

form .form-error {
    flex-grow: 2;
    text-align: right;
    color: #be1000;
    font-size: .9em;
    font-style: italic;
    font-weight: normal;
}

table {
    width: 100%;
    outline: solid 3px #22222281;
    border-collapse: collapse;
}

table thead th {
    background-color: #22222281;
    color: white;
    padding: 0.4em 1em;
}

table tr td {
    background-color: #ccc9;
    border: solid 1px #999;
    padding: 0.5em;
}

table tr:nth-child(2n) td {
    background-color: #ddd9;
}
